.footer {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45vh;
  align-items: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.footer h2 {
  font-size: xxx-large;
}
.footer span {
  border-bottom: 1px solid #fff;
}
.socialMedia{
    width: 5%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.socialMedia img:first-child{
    width: 23px;
    height: 20px;
    cursor: pointer;
}
.socialMedia img:nth-child(2){
    width: 20px;
    height: 20px;
    cursor: pointer;
}