.header-cont {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  display: flex;
  justify-content: center;
  height: 28vh;
  align-items: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.title {
  width: 90%;
  display: flex;
  justify-content: center;
}
.title h2 {
  font-size: xxx-large;
}
.circle {
  display: flex;
  flex-direction: column;
}
.circle img {
  width: 30px;
  height: 30px;
  margin-bottom: 18px;
  cursor: pointer;
}
