.homeLayoutCont .circle {
  align-items: flex-end;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.homeLayoutCont .circle img {
  width: 30px;
  height: 30px;
  margin-bottom: 18px;
  cursor: pointer;
  z-index: 1;
}
.homeLayoutCont .getStartBtn {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
}
