@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.WorkingExp-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #fff;
  padding: 6rem;
}
.WorkingExp-cont .left .title{
position: absolute;
width: 773px;
height: 100px;
left: 188px;
top: 160px;
font-family: 'DM Serif Display', serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 50px;
color: #000000;
}
.WorkingExp-cont .left-cont .images {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}
.WorkingExp-cont .left-cont .images .img1 img, .img2 img, .img3 img, .img4 img{
width: 284px;
height: 186px;
left: 188px;
top: 318px;
}
.WorkingExp-cont .left-cont .images .img2 img, .img3 img, .img4 img{
padding: 2rem;
}

@media only screen and (max-width: 768px) {
  .WorkingExp-cont .left-cont .images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 680px) {
  .WorkingExp-cont {
    padding: 4rem;
  }
  .WorkingExp-cont .left-cont .title{
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .WorkingExp-cont {
    padding: 3rem;
  }
  .WorkingExp-cont .left-cont .title h3{
    font-size: 20px;
  }
  .WorkingExp-cont .left-cont .images .img1 img, .img2 img, .img3 img, .img4 img{
    width: 284px;
    height: 186px;
    left: 188px;
    top: 318px;
    }
}
@media only screen and (max-width: 360px) {
  .WorkingExp-cont {
    padding: 1rem;
  }
}